<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odinbook, <%= @user.first_name %>!</h1>
    <p>
      Prepare to make friends, engage with the community, and more!
    </p>
    <p>
      Thank you for joining and have a great day!
    </p>
    <p>To login: follow this link <%= @url %></p>
  </body>
</html>
