<div class="bg-sky-50 min-h-screen">
  <%= render partial: "shared/home_navbar" %>
  <div>
    <div
      class="grid grid-cols-1 justify-items-center w-full py-16 max-w-6xl mx-auto"
    >
      <!-- Form -->
      <%= render "form", post: @post %>
      <!-- Posts -->
      <%= render @posts %>
    </div>
  </div>
</div>
